<?xml version="1.0"?>
<!--
  ~ Mage-World
  ~
  ~  @category    Mage-World
  ~  @package     MW
  ~  @author      Mage-world Developer
  ~
  ~  @copyright   Copyright (c) 2018 Mage-World (https://www.mage-world.com/)
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mw_dailydeal>
            <group_general>
                <active>1</active>
                <sidebardeal>2</sidebardeal>
                <calendar>2</calendar>
                <sidebaractive>1</sidebaractive>
                <deallayout>0</deallayout>
                <columncount>4</columncount>
            </group_general>

            <deal_display>
                <dealshowdetail>1</dealshowdetail>
                <showqty>1</showqty>
                <numberactive>2</numberactive>
                <sortby>1</sortby>
                <product_view_show_countdown>1</product_view_show_countdown>
            </deal_display>

            <titles_messages>
                <title>Today's Deal</title>
                <productdetaillabel>Get it before it's gone!</productdetaillabel>
                <deal_qty_on_product_page>Hurry, there are only {{qty}} items left!</deal_qty_on_product_page>
                <deal_qty_on_catalog_page>Hurry, just {{qty}} items left!</deal_qty_on_catalog_page>
            </titles_messages>

            <deal_colors>
                <schemecolor>336699</schemecolor>
                <countdowncolor>336699</countdowncolor>
                <highlight_color>CC3333</highlight_color>
            </deal_colors>

            <admin_notification>
                <notify_admin>1</notify_admin>
            </admin_notification>
        </mw_dailydeal>
    </default>
</config>